@page
@model CStat.Pages.Vendors.EditModel
@using CStat.Models
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Edit Business/Dept";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>

<style>

    .center {
        text-align: center
    }

    .TRight {
        text-align: right
    }

    .ediv {
        border-width: 1px;
        border-style: solid;
        border-color: #C0FFC0;
        background-color: #F2FFF2;
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 0px;
        padding-left: 3px;
        margin-bottom: 8px;
    }

    .slen {
        max-width: 6em;
    }

    .mlen {
        max-width: 12em;
    }

    .llen {
        max-width: 18em;
    }

    .rgap {
        margin-right: 4px;
    }

    .horzLI {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center
    }

    label {
        margin-bottom: 0px;
    }
</style>

<script>

    $(document).ready(function () {

        if (window.location.href.indexOf("VendorDoc=1") != -1) {
            $("#zBusiness_ContractLink").val(sessionStorage.getItem("VendorDocFolder") + " > " + sessionStorage.getItem("VendorDocFile"));
            sessionStorage.setItem("VendorDocFolder", "");
            sessionStorage.setItem("VendorDocFile", "");
            sessionStorage.setItem("VendorDocReturn", "");
            $("#OpenDoc").prop("disabled", false);
        }
        else {
            var docVal2 = $("#zBusiness_ContractLink").val();
            $("#OpenDoc").prop("disabled", !(!!docVal2));
        }

        $("#OpenDoc").click(function () {
            var docVal = $("#zBusiness_ContractLink").val();

            var dvp = docVal.split(" > ");
            if (!dvp || dvp.length !== 2) {
                return;
            }

            var parameters = "{'Folder':'" + dvp[0].trim() + "','File':'" + dvp[1].trim() + "'}";
            $.ajax({
                url: "/Docs?handler=FileShare",
                contentType: "application/json",
                dataType: "json",
                data: parameters,
                success: function (response) {
                    if (response.indexOf("ERROR~:") === -1) {
                        if (response.indexOf("http") == 0) {
                            window.location.href = response;
                        }
                        else {
                            window.location.href = "../" + response;
                        }
                    }
                },
            });
        });

        $("#BrowseDoc").click(function () {
            sessionStorage.setItem("VendorDocReturn", window.location.href + "&VendorDoc=1");
            let newUrl = "../Docs?selectStr=Vendor";
            $("#zRedirectURL").attr("value", newUrl);
            window.location.href = "/Docs?selectStr=Vendor";
            return false;
        });

        $("#OpenUrl").click(function () {
            var urlVal = $("#zBusiness_UserLink").val();
            if (!!urlVal.trim()) {
                window.open(urlVal, '_blank').focus;
            }
        });

        $("#DelBtn").click(function () {
            if (confirm("Delete Bus./Dept : " + $("#zBusiness_Name").val() + " ? ")) {
                var parameters = "{'vendorId':'" + @Model._Business.Id + "'}";
                $.ajax({
                    url: "/Vendors/Edit?handler=DeleteVendor",
                    contentType: "application/json",
                    dataType: "json",
                    data: parameters,
                    success: function (response) {
                        if (response.indexOf("ERROR~:") === -1) {
                            alert("Bus./Dept deleted.");
                        }
                    },
                    fail: function (response) {
                        alert("ERROR : Bus./Dept NOT deleted.");
                    },
                    complete: function (response) {
                        localStorage.setItem("refreshVnds", "true");
                        window.history.go(-1);
                    }
                });
            }
        });

    });

</script>

<form method="post">
    <input type="hidden" asp-for="_pocId" />
    <input type="hidden" asp-for="_Business.Id" />
    <input type="hidden" asp-for="_Business.Address.Id" />
    <input type="hidden" asp-for="_RedirectURL" />

    <div class="ediv">
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="_Business.Name" class="control-label">Name:</label>
                <input asp-for="_Business.Name" class="form-control" />
                <span asp-validation-for="_Business.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="_Business.AcctId" class="control-label">Acct#:</label>
                <input asp-for="_Business.AcctId" class="form-control" />
            </div>
        </div>
    </div>
    <div class="ediv">
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="_Street" class="control-label">Street</label>
                <input asp-for="_Street" class="form-control llen" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="_Town" class="control-label">Town</label>
                <input asp-for="_Town" class="form-control llen" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6" style="min-width:40%">
                <label asp-for="_State" class="control-label rgap">State:</label>
                <select asp-for="_State" style="min-height:2em">
                    @Html.Raw(Address.GetStateOptions(Model.GetAdrState()))
                </select>
            </div>
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_ZipCode" class="control-label rgap">Zip:</label>
                <input asp-for="_ZipCode" class="form-control slen" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_Phone" class="control-label rgap">Phone:</label>
                <input asp-for="_Phone" class="form-control mlen" />
            </div>
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_Fax" class="control-label rgap">Fax:</label>
                <input asp-for="_Fax" class="form-control mlen" />
            </div>
        </div>
    </div>

    <div class="ediv">
        <div class="row">
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_Business.Type" class="control-label rgap">Type:</label>
                <select asp-for="_Business.Type" style="max-width:16em; min-height:2em" data-val="false">@Html.Raw(Business.GetBizTypeOptions(Model.GetBusinessType()))</select>
            </div>
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_poc" class="control-label rgap">Contact:</label>
                <input asp-for="_poc" class="form-control llen" />
            </div>
        </div>
    </div>

    <div class="ediv">
        <div class="form-group">
            <label asp-for="_Business.UserLink" class="control-label" style="color:blue; text-decoration:underline" id="OpenUrl">Login URL:</label>
            <input asp-for="_Business.UserLink" class="form-control" />
        </div>
        <div class="row">
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_Business.UserName" class="control-label rgap">Username:</label>
                <input asp-for="_Business.UserName" class="form-control mlen" />
            </div>
            <div class="form-group col-sm-6 horzLI">
                <label asp-for="_Business.Password" class="control-label rgap">Password:</label>
                <input asp-for="_Business.Password" class="form-control mlen" />
            </div>
        </div>
    </div>

    <div class="row ediv">
        <div class="form-group col-sm-4 horzLI">
            <label asp-for="_Business.Status" class="control-label rgap">Status:</label>
            <select asp-for="_Business.Status" asp-items="ViewBag.BizStatusList" style="max-width:15em; min-height:2em" data-val="false">@Html.Raw(Business.GetBizStatusOptions(Model.GetBusinessStatus()))</select></select>
        </div>
        <div class="form-group col-sm-8 horzLI">
            <label asp-for="_Business.StatusDetails" class="control-label rgap">Status Notes:</label>
            <input asp-for="_Business.StatusDetails" class="form-control llen" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="_Business.Terms" class="control-label"></label>
        <input asp-for="_Business.Terms" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="_Business.Fees" class="control-label"></label>
        <input asp-for="_Business.Fees" class="form-control" />
    </div>
    <div class="ediv row">
        <div class="form-group col-sm-12 lpad">
            <label asp-for="_Business.ContractLink" class="control-label">Contract Link:</label>
            <input type="text" asp-for="_Business.ContractLink" style="padding-left:3px;padding-right:3px; border-style:inset; font-weight:bold" />
            <button id="OpenDoc" type="button" style="margin-left:6px; margin-right:6px;" disabled><b>Open Doc</b></button>
            <button id="BrowseDoc" style="margin-right:6px;">Set Doc</button>
        </div>
    </div>

    <div class="row form-group center">
        <span class="col-md-8">
            <input type="submit" value="Update" class="btn btn-primary" />
        </span>
        <span class="col-md-2">
            <input type="button" onclick="window.history.go(-1)" value="Cancel" />
        </span>
        <span class="col-md-2">
            <input type="button" id="DelBtn" value="Delete" style="background-color: #FFCCCC" />
        </span>
    </div>


</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

