@page
@model CStat.Pages.Vendors.IndexModel
@using CStat.Models

@{
    ViewData["Title"] = "Business/Depts";
}

<script>

    $(document).ready(function () {

        if (localStorage.getItem("refreshVnds") == "true") {
            localStorage.removeItem("refreshVnds");
            location.reload();
        }

    });

</script>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].Type)
            </th>
            <th>
                Phone#
            </th>
            <th>
                P.O.C
            </th>
            <th>
                Acct#
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Business)
        {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @{
                    var bType = item.Type.HasValue ? ((Business.EType)(item.Type)).ToString().Replace("_", " ") : "";
                }
                @bType
            </td>
            <td>
                @{
                    var phone = (item.Address == null) ? "" : (string.IsNullOrEmpty(item.Address.Phone) ? "" : Person.FixPhone(item.Address.Phone, true));
                }
                @Html.Raw(phone)
            </td>
            <td>
                @{
                    var name = (item.Poc == null) ? "" : item.Poc.FirstName + " " + item.Poc.LastName;
                }
                @name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcctId)
            </td>
            <td>
                @{
                    var bStatus = item.Status.HasValue ? ((Business.EStatus)(item.Status)).ToString().Replace("_", " ") : "";
                }
                @bStatus
            </td>

            @*<td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>
