@page
@model CStat.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create Event";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>

<style>

    .center {
        text-align: center
    }
    .TRight {
        text-align: right
    }

    .ediv {
        border-width: 1px;
        border-style: solid;
        border-color: #C0FFC0;
        background-color: #F2FFF2;
        padding-bottom: 3px;
    }

    .ILabel {
        padding-right: 2px;
        padding-top: 7px;
        padding-bottom: 2px;
        margin-bottom: 2px;
    }

    .IValue {
        padding-top: 2px;
        padding-left: 4px;
    }

    .lpad {
        margin-left: 4px;
    }

    * {
        box-sizing: border-box;
    }

    .frow {
        display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .fcolumn {
        flex: 50%;
        padding: 2px;
    }

    .fhide {
        display: none;
    }

    .lgi {
        max-width:15.5em;
    }

    .topStaff {
        border-color: black;
        border-style: solid;
        border-top-width: 2px;
        border-left-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        max-width: 12em;
    }

    .nextStaff {
        border-color: black;
        border-style: solid;
        border-top-width: 0px;
        border-left-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        max-width: 12em;
    }

    .offStaff {
        background-color: #E0E0E0;
        font-weight: normal;
        padding-left:4px;
    }

    .onStaff {
        background-color: #FFFFDD;
        font-weight: bold;
        padding-left: 4px;
    }

</style>

<script>

    var CreateStartDate = new Date("@Model.CreateStartDate.ToString()");

    $(document).ready(function () {

        let sdt = CreateStartDate.getFullYear().toString() + "-" + (CreateStartDate.getMonth() + 1).toString().padStart(2, 0) + "-" + CreateStartDate.getDate().toString().padStart(2, 0) + "T15:00";
        $("#Event_StartTime").val(sdt);

        $("#Event_Type").change(function () {
            let eName = $("#Event_Type option:selected").text();
            let eYear = CreateStartDate.getFullYear();
            let eDesc = $("#Event_Description").val().trim();
            if (!eDesc && ((eName.indexOf(" Retreat") != -1) || (eName.indexOf(" Week") != -1) || (eName.indexOf(" Meeting") != -1))) {
                let desc = eYear + " " + eName;
                $("#Event_Description").val(desc);
            }

            $("#Event_StartTime").trigger('change');
        });

        $("#Event_StartTime").change(function () {
            let sDate = $("#Event_StartTime").val();
            let eDate = $("#Event_EndTime").val();
            let eType = $("#Event_Type option:selected").text();
            if ((sDate.indexOf("T") != -1) && (eDate.trim().length == 0) && (eType.length > 5)) {
                let sDT = new Date(Date.parse(sDate));
                let eDT = new Date(sDT);
                if (eType.indexOf(" Retreat") != -1) {
                    eDT.setDate(eDT.getDate() + 3);
                    let dts = eDT.getFullYear().toString() + "-" + (eDT.getMonth()+1).toString().padStart(2, 0) + "-" + eDT.getDate().toString().padStart(2, 0) + "T" + eDT.getHours().toString().padStart(2, 0) + ":" + eDT.getMinutes().toString().padStart(2, 0);
                    $("#Event_EndTime").val(dts);
                } else if (eType.indexOf(" Week") != -1) {
                    eDT.setDate(eDT.getDate() + 7);
                    let dts = eDT.getFullYear().toString() + "-" + (eDT.getMonth()+1).toString().padStart(2, 0) + "-" + eDT.getDate().toString().padStart(2, 0) + "T" + eDT.getHours().toString().padStart(2, 0) + ":" + eDT.getMinutes().toString().padStart(2, 0);
                    $("#Event_EndTime").val(dts);
                }
            }
        });

        if (window.location.href.indexOf("EventDoc=1") != -1) {
            $("#EventDoc").val(sessionStorage.getItem("EventDocFolder") + " > " + sessionStorage.getItem("EventDocFile"));
            sessionStorage.setItem("EventDocFolder", "");
            sessionStorage.setItem("EventDocFile", "");
            sessionStorage.setItem("EventDocReturn", "");
        }

        function openFileShare() {
            var docVal = $("#EvenDoc").val();
            var dvp = docVal.split(" > ");
            if (!dvp || dvp.length !== 2) {
                return;
            }

            var parameters = "{'Folder':'" + dvp[0].trim() + "','File':'" + dvp[1].trim() + "'}";
            $.ajax({
                url: "/Docs?handler=FileShare",
                contentType: "application/json",
                dataType: "json",
                data: parameters,
                success: function (response) {
                    if (response.indexOf("ERROR~:") === -1) {
                        if (response.indexOf("http") == 0) {
                            window.location.href = response;
                        }
                        else {
                            window.location.href = "../" + response;
                        }
                    }
                },
            });
        }

        function findPerson(nameStr, id, rval) {
            var parameters = "{'name':" + encodeQuotes(nameStr) + "'}";
            $.ajax({
                url: "/Events/Create?handler=FindPersonEvent",
                contentType: "application/json",
                dataType: "json",
                data: parameters,
                success: function (response) {
                    if (response.indexOf("<option") !== -1) {
                        var htmlStr = "<input type=\"text\" id=\"" + id + "\" rval=\"" + rval + "\" list=\"dl" + id + "\" />\n" + "<datalist id=\"dl" + id + "\">\n" + response + "</datalist>";
                        //var inp = document.getElementById(id);
                        document.getElementById(id).outerHTML = htmlStr;
                        document.getElementById(id).value = nameStr;
                        document.getElementById(id).focus();
                    }
                },
                fail: function (response) {
                },
                complete: function (response) {
                }
            });
        }

        $("#EventDoc").click(function () {
            openFileShare();
        });

        $("#OpenDoc").click(function () {
            openFileShare();
        });

        function encodeQuotes(str) {
            return str.replace(/\"/g, " ^ ^").replace(/\'/g, " ^ ");
        }

        $(document).on('click', "[id^=srole]", function () {
            $("#" + this.id).toggleClass("onStaff offStaff");
        });

        $(document).on('keyup', "[id^=spers]", function () {
            var rid = "#" + $(this).attr("id").replace("spers", "srole");
            if ($(rid).hasClass("offStaff")) {
                $(rid).toggleClass("onStaff offStaff");
            }

            var name = $(this).val();
            var id = $(this).attr('id');
            var rval = $(this).attr('rval');
            if (!!name && (name.length > 2)) {
                findPerson(name, id, rval);
            }
        });

        $(document).on('select', "[id^=dlspers]", function () {
            alert($(this).attr('id'));
        });

        $('#EventForm').submit(function () {
            var sroles = 0;
            $("div[id^=srole]").each(function (index) {
                if ($(this).hasClass("onStaff")) {
                    sroles |= parseInt($(this).attr("value"));
                }
            });
            $("#zEvent_Staff").attr("value", sroles.toString());

            var StaffStr = "";
            $("input[id^=spers]").each(function (index) {
                var rid = "#" + $(this).attr("id").replace("spers", "srole");
                if ($(rid).hasClass("onStaff")) {
                    //var rval = $(this).attr("rval");
                    //var val = $(this).val();
                    //alert(rval + val);
                    StaffStr += ($(this).attr("rval") + "=" + $(this).val() + "~");
                }
            });
            //alert(StaffStr);
            $("#zStaff").attr("value", StaffStr);

        });

        $('#StaffRoles').change(function () {
            var sel = $(this).val();
            var selDiv = $("div").find("[value=" + "'" + sel + "']");
            if (!!selDiv) {
                selDiv.toggleClass("onStaff offStaff").parent().closest('div').removeClass("fhide");
            }
        })

    });

    function getDoc() {
        sessionStorage.setItem("EventDocReturn", window.location.href + "&EventDoc=1");
        window.location.href = "/Docs?selectStr=Event";
    }

</script>

<body>

    @if (ViewData["EventError"].ToString().Length > 0)
    {
        <span style="color:red">@Html.Raw(ViewData["EventError"])</span>
    }

<form class="form-horizontal" method="post" id="EventForm" enctype="multipart/form-data">

    <input type="hidden" asp-for="_Event.Staff" />
    <input type="hidden" asp-for="_Event.Id" />
    <input type="hidden" asp-for="_Staff" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row form-group ediv">
        <div class="col-xs-3">
            <label asp-for="_Event.Type" class="control-label ILabel">Type:</label>
        </div>
        <div class="col-xs-9 IValue">
            <select asp-for="_Event.Type" class="form-control IValue" asp-items="ViewBag.Type"></select>
        </div>
    </div>

    <div class="row form-group ediv">
        <div class="col-xs-4 ">
            <label asp-for="_Event.Description" class="control-label ILabel">Description:</label>
        </div>
        <div class="col-xs-8 IValue">
            <input asp-for="_Event.Description" class="form-control IValue" />
            <span asp-validation-for="_Event.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group row ediv">
            <label asp-for="_Event.StartTime" class="control-label ILabel">Start Time:</label>
            <div class=" IValue">
                <input asp-for="_Event.StartTime" class="form-control lgi" />
                <span asp-validation-for="_Event.StartTime" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-6 form-group row ediv">
            <label asp-for="_Event.EndTime" class="control-label ILabel">End Time:</label>
            <div class="IValue">
                <input asp-for="_Event.EndTime" class="form-control lgi" />
                <span asp-validation-for="_Event.EndTime" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="ediv form-group" style="padding:6px 6px 0px 6px">
        <div class="frow">
            <div class="fcolumn" style="max-width:13em">Click Roles Below </div>
            <div class="fcolumn">Add F L Name</div>
        </div>
        @{ int rowId = 0;
            foreach (var sr in ViewBag.StaffRoles)
            {
                if (rowId > 0)
                {
                    string srId = "srole" + rowId;
                    string spId = "spers" + rowId;
                    string staffCls = (rowId == 1) ? "topStaff" : "nextStaff";
                    string selClass = Model.IsStaffSelected(rowId) ? "onStaff" : "offStaff";
                    string mainDivClass = "frow";
                    if ((rowId > 11) && (selClass == "offStaff"))
                        mainDivClass += " fhide";

            <div class="@mainDivClass">
                <div class="fcolumn @staffCls @selClass" id="@srId" value="@sr.Value">@sr.Text:</div>
                <div class="fcolumn"><input id="@spId" rval="@sr.Value" value="" /></div>
            </div>
                }
                ++rowId;
            }
        }

        <div class="row form-group" style="margin-left:6px">
            <div class="IValue">
                <select id="StaffRoles" class="form-control" style="max-width:15em" asp-items="ViewBag.ExtraRoles"></select>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="ediv">
                        <label asp-for="_Event.CostChild">Child $</label>
                        <input asp-for="_Event.CostChild" class="ICost IValue" />
                    </div>
                </td>
                <td>
                    <div class="ediv">
                        <label asp-for="_Event.CostAdult" class="ILabel">Adult $</label>
                        <input asp-for="_Event.CostAdult" class="ICost IValue" />
                    </div>
                <td>
            </tr>
            <tr>
                <td>
                    <div class="ediv">
                        <label asp-for="_Event.CostFamily">Familty $</label>
                        <input asp-for="_Event.CostFamily" class="ICost IValue" />
                    </div>
                </td>
                <td>
                    <div class="ediv">
                        <label asp-for="_Event.CostCabin" class="ILabel">Cabin $</label>
                        <input asp-for="_Event.CostCabin" class="ICost IValue" />
                    </div>
                <td>
            </tr>
            <tr>
                <td>
                    <div class="ediv">
                        <label asp-for="_Event.CostLodge">Lodge $</label>
                        <input asp-for="_Event.CostLodge" class="ICost IValue" />
                    </div>
                </td>
                <td>
                    <div class="ediv">
                        <label asp-for="_Event.CostTent" class="ILabel">Tent $</label>
                        <input asp-for="_Event.CostTent" class="ICost IValue" />
                    </div>
                <td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <span class="lpad" style="color:maroon; font-weight:bold">To add a Contract Link, First Create this Event then go back and Edit it.</span>
        <div class="form-group col-sm-12 lpad">
            <label asp-for="_Event.ContractLink" class="control-label"></label>
            <input type="text" id="EventDoc" style="padding-left:3px;padding-right:3px; border-style:inset; font-weight:bold" disabled />
            <button id="OpenDoc" style="margin-left:6px; margin-right:6px;" disabled><b>Open Doc</b></button>
            <button id="BrowseDoc" onclick="getDoc()" style="margin-right:6px;" disabled>Set Doc</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group row ediv col-sm-12 lmargin">
            <label asp-for="_Event.ChurchId" class="control-label ILabel">Church:</label>
            <div class="IValue">
                <select asp-for="_Event.ChurchId" class="form-control" asp-items="ViewBag.Church"></select>
            </div>
        </div>
    </div>

    <div class="form-group center">
        <span class="col-md-8">
            <input type="submit" id="SubmitEvent" value="Update" class="btn btn-primary" />
        </span>
        <span class="col-md-2">
            <input type="button" onclick="window.history.go(-1)" value="Cancel" />
        </span>
        <span class="col-md-2">
            <input type="button" id="DelBtn" value="Delete" class="alignRight" style="background-color: #FFCCCC" />
        </span>
    </div>
</form>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
