@page
@model CStat.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
}

<style>
    #DateField
    {
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 2px;
    }

    td a:link, a:visited {
        text-decoration: inherit;
        color: inherit;
    }

    .AddDesc {
        text-align: center;
    }

    .EVCol0 {
        background-color: @Model.ECol[0];
        border: 2px solid @Model.EBord[0];
    }

    .EVCol1 {
        background-color: @Model.ECol[1];
        border: 2px solid @Model.EBord[1];
    }

    .EVCol2 {
        background-color: @Model.ECol[2];
        border: 2px solid @Model.EBord[2];
    }

    .EVCol3 {
        background-color: @Model.ECol[3];
        border: 2px solid @Model.EBord[3];
    }

    .EVCol4 {
        background-color: @Model.ECol[4];
        border: 2px solid @Model.EBord[4];
    }

    .EVCol5 {
        background-color: @Model.ECol[5];
        border: 2px solid @Model.EBord[5];
    }

    .EVCol6 {
        background-color: @Model.ECol[6];
        border: 2px solid @Model.EBord[6];

    }

    .EventDesc {
        font-weight:bold;
        text-align: center;
    }

    td {
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

    .tdAttrs{
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

    .rowAttrs{
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

</style>

<body>

    @*<p>
        <a style="color:blue" asp-page="Create">Create New</a>
    </p>*@
    <table class="table">
        <tbody>
            @{

                List<DateTime> days = new List<DateTime>();
                for (int i = -2; i < 100; ++i)
                {
                    days.Add(DateTime.Now.AddDays(i));
                }
            }
            @foreach (var item in Model.Calendar)
            {

                @Html.Raw(item)
            }

        </tbody>
    </table>
</body>
