@page
@model CStat.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
    Layout = "_LayoutEvents";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>

<style>
    #DateField
    {
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 2px;
    }

    td a:link, a:visited {
        text-decoration: inherit;
        color: inherit;
    }

    .AddDesc {
        text-align: center;
    }

    .EVCol0 {
        background-color: @Model.ECol[0];
        border: 2px solid @Model.EBord[0];
    }

    .EVCol1 {
        background-color: @Model.ECol[1];
        border: 2px solid @Model.EBord[1];
    }

    .EVCol2 {
        background-color: @Model.ECol[2];
        border: 2px solid @Model.EBord[2];
    }

    .EVCol3 {
        background-color: @Model.ECol[3];
        border: 2px solid @Model.EBord[3];
    }

    .EVCol4 {
        background-color: @Model.ECol[4];
        border: 2px solid @Model.EBord[4];
    }

    .EVCol5 {
        background-color: @Model.ECol[5];
        border: 2px solid @Model.EBord[5];
    }

    .EVCol6 {
        background-color: @Model.ECol[6];
        border: 2px solid @Model.EBord[6];

    }

    .EventDesc {
        font-weight:bold;
        text-align: center;
    }

    td {
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

    .tdAttrs{
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

    .rowAttrs{
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
    }

</style>

<script>

    $(document).ready(function () {

        if (localStorage.getItem("refreshEvs") == "true") {
            localStorage.removeItem("refreshEvs");
            location.reload();
        }

    });

</script>

<body>

    @*<p>
            <a style="color:blue" asp-page="Create">Create New</a>
        </p>*@
    <table class="table">
        <tbody>
            @{

                List<DateTime> days = new List<DateTime>();
                for (int i = -2; i < 100; ++i)
                {
                    days.Add(DateTime.Now.AddDays(i));
                }
            }
            @foreach (var item in Model.Calendar)
            {

                @Html.Raw(item)
            }

        </tbody>
    </table>
</body>
