@page
@model CStat.Pages.Tasks.CreateModel
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Task";
}

<head>
    @using System.Web;

    <style>
        #taskDesc {
            overflow-y: scroll;
            height: 400px;
            font-family: "Verdana";
            min-width: 90%;
            resize: none; /* Remove this if you want the user to resize the textarea */
        }

        .table th {
            padding: 0.1rem;
            color: lightgray;
        }

        .table td {
            padding: 0.5rem;
        }

        .ljust {
            text-align: left;
        }

        .cjust {
            text-align: center;
        }

        .rjust {
            text-align:right;
        }

        .mhider {
            display: none;
            text-align: right;
        }

        .mhidec {
            display: none;
            text-align: center;
        }

        .mhidel {
            display: none;
            text-align: right;
        }

        .redit {
            text-align: right;
            max-width: 4em;
        }

        .cedit {
            text-align: left;
            max-width:4em;
        }
        .ledit {
            text-align: left;
            width: 100%;
        }

        .hdrBk {
            background-color:#FFF090;
        }

        .tborder {
            padding: 4px 4px 4px 4px;
            border: 2px solid #ffd800;
            background-color: #fef4b9
        }

        #SaveAll {
            background-color: #007272;
            border: 2px solid #0000FF;
            color: white;
        }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        var pics = [@Html.Raw(String.Join(",", Model.taskData.pics.Select(p => "'" + p.url + "'")))];
        var picTitles = [@Html.Raw(String.Join(",", Model.taskData.pics.Select(p => "'" + p.title + "'")))];

        var curPic = 0;
        var lastPic = -1;

        function saveTask() {

            var saveFormData = new FormData();
            // Add Task fields
            saveFormData.append("pctComp", $("#pctComp").val());
            saveFormData.append("taskState", $("#taskData_state").val());
            saveFormData.append("taskReason", $("#taskData_reason").val());
            saveFormData.append("taskPriority", $("#task_Priority").val());
            saveFormData.append("taskTitle", $("#task_Description").val());
            saveFormData.append("taskId", $("#task_Id").val());
            saveFormData.append("taskDesc", $("#taskDesc").val()); // Add Description

            // Get Photos and titles
            let pics_s = JSON.stringify(pics);
            let picTitles_s = JSON.stringify(picTitles.map(t => encodeQuotes(t)));

            // Get BOM 
            let bom_s = JSON.stringify(saveBOM());

            saveFormData.append("pics", pics_s);
            saveFormData.append("picTitle", picTitles_s);
            saveFormData.append("bom", bom_s);
      
            jQuery.ajax({
                url: "/Tasks/Create?handler=Save",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                type: "POST",
                data: saveFormData,
                async: true,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.indexOf("Success") !== 0) {
                        alert("Image Save Failed : " + res);
                    }
                },
                error: function (res) {
                    alert("Image Save Failed : " + res);
                },
                complete: function (res) {
                    $("#newPicId").hide();
                    $("#picHdrId").show();
                }
            });
        }

        function saveBOM() {

            var bom = [];

            $('#bomTable > tbody  > tr').each(function () {

                var id = -1;
                var desc = "";
                var ucost = "";
                var units = "";
                var qty = "";
                var tcost = "";

                $(this).find('td').each(function () {

                    let idStr = $(this).attr("id");

                    if (idStr.indexOf("mdd") === 0) {
                        descStr = encodeQuotes($(this).html().trim());
                        if (descStr.indexOf("&lt;add new") == -1) {
                            id = parseInt(idStr.substr(3), 10);
                        }
                    }

                    if (idStr.indexOf("mdu") === 0) {
                        ucost = $(this).html().trim();
                    }

                    if (idStr.indexOf("mds") === 0) {
                        qty = $(this).html().trim();
                    }

                    if (idStr.indexOf("mdt") === 0) {
                        tcost = $(this).html().trim();
                    }
                });

                if (id !== -1) {
                    var line = [];
                    line["id"] = id;
                    line["desc"] = desc;
                    line["ucost"] = ucost;
                    line["units"] = units;
                    line["qty"] = qty;
                    line["tcost"] = tcost;
                    bom.push(line);
                }
            });

            return bom;
        }

        function updateBOM() {
            var grandTot = 0;
            var foundAdd = false;
            var maxLine = 0;
            $('#bomTable > tbody  > tr').each(function () {
                $(this).find('td').each(function () {
                    let idStr = $(this).attr("id");

                    if (idStr.indexOf("mdt") === 0) {
                        let totStr = $(this).html().trim();
                        if (totStr.length > 0) {
                            if (totStr.indexOf("$") === 0) {
                                grandTot += parseFloat(totStr.substr(1));
                            } else {
                                grandTot += parseFloat(totStr);
                            }
                        }
                    } else {
                        if (idStr.indexOf("mdd") === 0) {
                            let line = parseInt(idStr.substr(3), 10);
                            if (line > maxLine) {
                                maxLine = line;
                            }
                            let descStr = $(this).html().trim();
                            if (descStr.indexOf("&lt;add new") != -1) {
                                foundAdd = true;
                            }
                        }
                    }
                });
            });

            if (!foundAdd) {
                var newLine = maxLine + 1;
                $('#bomTable > tbody:last').append('<tr><td id="mdd' + newLine + '">&#60;add new description&#62;</td>' +
                    '<td id="med' + newLine + '" class="mhidel"><input id="mid' + newLine + '" type="text" class="ledit"></td>' +
                    '<td id="mdu' + newLine + '" class="rjust"></td>' +
                    '<td id="meu' + newLine + '" class="mhider"><input id="miu' + newLine + '" type="text" class="redit"></td>' +
                    '<td id="mds' + newLine + '" class="cjust"></td>' +
                    '<td id="mes' + newLine + '" class="mhidec"><input id="mis' + newLine + '" type="text" class="cedit"></td>' +
                    '<td id="mdq' + newLine + '" class="rjust"></td>' +
                    '<td id="meq' + newLine + '" class="mhider"><input id="miq' + newLine + '" type="text" class="redit" style="max-width:2em;"></td>' +
                    '<td id="mdt' + newLine + '" class="rjust"></td>' +
                    '<td id="met' + newLine + '" class="mhider"><input id="mit' + newLine + '" type="text" class="redit"></td>' + '</tr>');
            }

            $("#gtId").html("Grand Total: $" + grandTot.toFixed(2));
        }

        $(document).ready(function () {

            function setPicture() {
                $("#imgDiv").html('<image src="' +  pics[curPic] + '" style="width:100%">');
                $("#imgTitle").html("<b>" + picTitles[curPic] + "</b>");
                lastPic = curPic;
            }

            setPicture();

            $("#imgNextBtn").click(function () {
                if (curPic < (pics.length - 1)) {
                    ++curPic;
                    setPicture();
                }
            });

            $("#imgPriorBtn").click(function () {
                if (curPic > 0) {
                    --curPic;
                    setPicture();
                }
            });

            //$(document).on('click', "[id^=md]", function () {
            //    alert(event.target.id);
            //});

//            $("[id^=md]").on('click', function () {
            $(document).on('click', "[id^=md]", function () {
                let did = "#" + event.target.id;
                let field = did.substr(3,1);
                let line = did.substr(4);
                let eid = "#me" + field + line;
                let iid = "#mi" + field + line;

                $(did).hide();
                $(eid).show();
                $(iid).attr("value", $(did).text());
                $(iid).select();
            });

//            $("[id^=mi]").on('blur', function () {
            $(document).on('blur', "[id^=mi]", function () {
                let iid = "#" + event.target.id;
                let field = iid.substr(3, 1);
                let line = iid.substr(4);
                let did = "#md" + field + line;
                let eid = "#me" + field + line;

                $(eid).hide();
                $(did).show();
                $(did).text($(iid).val());
                updateBOM();
            });

            var formdata = null;
            var fileInput = null;
            $("#newPicBtn").click(function () {
                $("#picHdrId").hide();
                $("#savePicBtn").hide();
                $("#newPicId").show();

                fileInput = document.getElementById("newImg");
                fileInput.value = "";
                $("#newImgDesc").val("");

                if (window.FormData) {
                    formdata = new FormData();
                }

                fileInput.addEventListener("change", function (evt) {
                    $("#savePicBtn").show();
                });
            });

            $("#cancelPicBtn").click(function () {
                $("#newPicId").hide();
                $("#picHdrId").show();
            });

            $("#savePicBtn").click(function () {
                var i = 0, len = fileInput.files.length, img, reader, file;

                for (; i < len; i++) {
                    file = fileInput.files[i];

                    if (!!file.type.match(/image.*/)) {
                        if (window.FileReader) {
                            reader = new FileReader();
                            reader.onloadend = function (e) {
                                //showUploadedItem(e.target.result, file.fileName);
                            };
                            reader.readAsDataURL(file);
                        }

                        if (formdata) {
                            let picDesc = $("#newImgDesc").val();
                            if (!picDesc) {
                                picDesc = "";
                            }
                            let tid = $("#newImgDesc").attr("tid");
                            if (!tid) {
                                tid = "-1"; // error condition
                            }
                            formdata.append("image", file);
                            formdata.append("picTitle", encodeQuotes(picDesc));
                            formdata.append("taskId", tid);
                            formdata.append("picId", pics.length + 1);

                            jQuery.ajax({
                                url: "/Tasks/Create?handler=SendPic",
                                headers: {
                                    RequestVerificationToken:
                                        $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                type: "POST",
                                data: formdata,
                                async: true,
                                processData: false,
                                contentType: false,
                                success: function (res) {
                                    if (res.indexOf("Success:") === 0) {
                                        pics.push(res.substr(8));
                                        picTitles.push(picDesc);
                                    } else {
                                        alert("Image Save Failed : " + res);
                                    }
                                },
                                error: function (res) {
                                    alert("Image Save Failed : " + res);
                                },
                                complete: function (res) {
                                    $("#newPicId").hide();
                                    $("#picHdrId").show();
                                }
                            });
                        }
                    }
                    else {
                        alert('Not a valid image!');
                    }
                }
            });
        });

        function encodeQuotes(str) {
            return str.replace(/\"/g, "^^").replace(/\'/g, "^");
        }

    </script>

</head>

<body>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="task.Id" />
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label asp-for="task.Description" class="control-label">Title:</label>
                <input asp-for="task.Description" class="form-control" />
                <span asp-validation-for="task.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <button id="SaveAll" onclick="saveTask()">Save Task</button>
        </div>
        </div>

        <div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#statusTab" data-toggle="tab"><b>Status</b></a>
                </li>
                <li role="presentation">
                    <a href="#descTab" data-toggle="tab"><b>Description</b></a>
                </li>
                <li role="presentation">
                    <a href="#picTab" data-toggle="tab"><b>Pictures</b></a>
                </li>
                <li role="presentation">
                    <a href="#bomTab" data-toggle="tab"><b>Materials</b></a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="statusTab">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group tborder" style="margin-top: 10px">
                                <input type="text" id="pctComp" style="max-width:2.2em; text-align:center; font-weight:bold" value="@Model.taskData.PercentComplete" /><b> % Complete</b>
                                <div class="progress" style="max-height:2.4em; max-width:16em; margin-top:4px; border: 2px solid black;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.taskData.PercentComplete" aria-valuemin="0" aria-valuemax="100" style="width:@Model.taskData.PercentComplete%">
                                        <div class="sr-only">Model.taskData.PercentComplete% Complete</div>
                                    </div>
                                </div>
                                <div>
                                    <label asp-for="taskData.state" class="control-label">State:</label>
                                    <select asp-for="taskData.state" asp-items="ViewBag.State" style="max-width:10em; margin-right:8px"></select>
                                    <label asp-for="taskData.reason" class="control-label">Reason:</label>
                                    <select asp-for="taskData.reason" asp-items="ViewBag.Reason" style="max-width:10em; margin-right:8px"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tborder" style="margin-top:10px">
                                <label asp-for="task.PersonId" class="control-label">Assigned to:</label>
                                <select asp-for="task.PersonId" asp-items="ViewBag.PersonId" style="max-width:10em; margin-right:8px; margin-bottom:6px"></select>
                                <div>
                                        <label asp-for="task.DueDate" class="control-label" style="margin-right:1.3em">Due Date:</label>
                                        <input asp-for="task.DueDate" type="date" style="max-height:1.4em; max-width:9.7em;" />
                                </div>
                                <div>
                                    <input type="checkbox" name="FixedDue">
                                    <label for="FixedDue">Fixed Date?</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tborder" style="margin-top:10px">
                                <label asp-for="task.Priority" class="control-label">Priority:</label>
                                <select asp-for="task.Priority" asp-items="ViewBag.Priority" style="max-height: 2.4em; max-width: 8.2em"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="descTab">

                    <section class="row">
                        <div class="col-md-12" width="100%" style="margin-top:8px">
                            <textarea asp-for="taskData.Desc" class="form-control" id="taskDesc"></textarea>
                        </div>
                    </section>

                </div>
                <div class="tab-pane" id="picTab">
                    <div id="picHdrId" class="col-md-12" width="100%">
                        <table width="100%" style="margin-top:4px">
                            <tr>
                                <td><button id="newPicBtn" style="margin-right:6px"><b>+</b></button></td>
                                <td><button id="imgPriorBtn">&#60;&#60;</button></td>
                                <td id="imgTitle" style="text-align:center; margin-left:4px; margin-right:4px;"></td>
                                <td><button id="imgNextBtn">&#62;&#62;</button></td>
                            </tr>
                        </table>
                    </div>

                    <div id="newPicId" style="display:none; margin-top:4px; border: 3px ridge teal">
                        <div class="col-md-12">
                            <h4>Add New Picture with Title ...</h4>
                        </div>
                        <div class="col-md-3" style="margin-top:4px">
                            <input id="newImg" type="file" name="file">
                        </div>
                        <div class="col-md-6" style="margin-top:4px">
                            <span style="text-align:center; margin-left:4px; margin-right:4px;"><b><label for="newImgDesc"></label>Title: </b><input id="newImgDesc" tid="@Model.task.Id" style="min-width:20em" /></span>
                        </div>
                        <div class="col-md-3" style="margin-top:4px; margin-bottom:4px">
                            <button id="savePicBtn" style="margin-left:4px; display:none; background-color:greenyellow"><b>Save</b></button>
                            <button id="cancelPicBtn" style="margin-left:4px"><b>Cancel</b></button>
                        </div>
                    </div>
                    <div id="imgDiv">
                    </div>
                </div>

                <div class="tab-pane" id="bomTab">

                    <section class="row">
                        <div class="col-md-12" width="100%">
                            <table width="100%" style="margin-top:4px">
                                <tr>
                                    <th><h4><b>Materials</b></h4></th>
                                    <th>&nbsp;&nbsp;&nbsp;</th>
                                    <th><button id="mopId" onclick="updateBOM()" style="margin-left:10px; max-height:2.2em">+</button></th>
                                    <th>&nbsp;&nbsp;&nbsp;</th>
                                    <th id="gtId" style="text-align:right;"></th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12" width="100%">
                            <table id="bomTable" width="100%" style="margin-top:4px">
                                <tr>
                                    <th class="hdrBk">Item Description</th>
                                    <th class="rjust hdrBk">UCost</th>
                                    <th class="cjust hdrBk">Unit</th>
                                    <th class="rjust hdrBk">Qty</th>
                                    <th class="rjust hdrBk">TCost</th>
                                </tr>
                                <tbody>

                                    @foreach (var bl in Model.taskData.bom)
                                {
                                    <tr>
                                        <td id="mdd@{@bl.id}">@bl.desc</td>
                                        <td id="med@{@bl.id}" class="mhidel"><input id="mid1" type="text" class="ledit"></td>
                                        <td id="mdu@{@bl.id}" class="rjust">@bl.ucost</td>
                                        <td id="meu@{@bl.id}" class="mhider"><input id="miu1" type="text" class="redit"></td>
                                        <td id="mds1@{@bl.id}" class="cjust">@bl.units</td>
                                        <td id="mes@{@bl.id} " class="mhidec"><input id="mis1" type="text" class="cedit"></td>
                                        <td id="mdq@{@bl.id}" class="rjust">@bl.qty</td>
                                        <td id="meq@{@bl.id}" class="mhider"><input id="miq1" type="text" class="redit" style="max-width:2em;"></td>
                                        <td id="mdt@{@bl.id}" class="rjust">@bl.tcost</td>
                                        <td id="met@{@bl.id}" class="mhider"><input id="mit1" type="text" class="redit"></td>
                                    </tr>
                                }

                                    @*<tr>
                                        <td id="mdd1">Gypsum Sheet Rock 4 x 8</td>
                                        <td id="med1" class="mhidel"><input id="mid1" type="text" class="ledit"></td>
                                        <td id="mdu1" class="rjust">$12.00</td>
                                        <td id="meu1" class="mhider"><input id="miu1" type="text" class="redit"></td>
                                        <td id="mds1" class="cjust">piece</td>
                                        <td id="mes1" class="mhidec"><input id="mis1" type="text" class="cedit"></td>
                                        <td id="mdq1" class="rjust">9</td>
                                        <td id="meq1" class="mhider"><input id="miq1" type="text" class="redit" style="max-width:2em;"></td>
                                        <td id="mdt1" class="rjust">$108.00</td>
                                        <td id="met1" class="mhider"><input id="mit1" type="text" class="redit"></td>
                                    </tr>
                                    <tr>
                                        <td id="mdd2">Gypsum Sheet Rock 4 x 8</td>
                                        <td id="med2" class="mhidel"><input id="mid2" type="text" class="ledit"></td>
                                        <td id="mdu2" class="rjust">$12.00</td>
                                        <td id="meu2" class="mhider"><input id="miu2" type="text" class="redit"></td>
                                        <td id="mds2" class="cjust">piece</td>
                                        <td id="mes2" class="mhidec"><input id="mis2" type="text" class="cedit"></td>
                                        <td id="mdq2" class="rjust">9</td>
                                        <td id="meq2" class="mhider"><input id="miq2" type="text" class="redit" style="max-width:2em;"></td>
                                        <td id="mdt2" class="rjust">$108.00</td>
                                        <td id="met2" class="mhider"><input id="mit2" type="text" class="redit"></td>
                                    </tr>
                                    <tr>
                                        <td id="mdd3">Gypsum Sheet Rock 4 x 8</td>
                                        <td id="med3" class="mhidel"><input id="mid3" type="text" class="ledit"></td>
                                        <td id="mdu3" class="rjust">$12.00</td>
                                        <td id="meu3" class="mhider"><input id="miu3" type="text" class="redit"></td>
                                        <td id="mds3" class="cjust">piece</td>
                                        <td id="mes3" class="mhidec"><input id="mis3" type="text" class="cedit"></td>
                                        <td id="mdq3" class="rjust">9</td>
                                        <td id="meq3" class="mhider"><input id="miq3" type="text" class="redit" style="max-width:2em;"></td>
                                        <td id="mdt3" class="rjust">$108.00</td>
                                        <td id="met3" class="mhider"><input id="mit3" type="text" class="redit"></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        @*<section class="row">
            <h3>Status</h3>
            <div class="col-md-6">
                <div class="form-group" style="margin-top:10px">
                    <div class="form-group">
                        <div class="progress" style="max-height:1.8em; max-width:12em">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                        <select asp-for="taskData.state" class="form-control" asp-items="ViewBag.State" style="max-width:10em"></select>
                        <select asp-for="taskData.reason" class="form-control" asp-items="ViewBag.Reason" style="max-width:10em"></select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="task.Status" class="control-label">% Complete:</label>
                    <input asp-for="task.Status" class="form-control" style="max-height:1.2em; max-width:5em" />
                    <span asp-validation-for="task.Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="task.Status" class="control-label">Needed $:</label>
                    <input asp-for="task.Status" class="form-control" />
                    <span asp-validation-for="task.Status" class="text-danger"></span>
                </div>
            </div>
        </section>
        <section class="row">
            <h3>Owner</h3>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="task.PersonId" class="control-label">Assigned to:</label>
                    <select asp-for="task.PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                    <span asp-validation-for="task.PersonId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="task.Worker1Id" class="control-label">Workers</label>
                    <input asp-for="task.DueDate" class="form-control" />
                    <span asp-validation-for="task.DueDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="task.DueDate" class="control-label">Est.Done: </label>
                    <input asp-for="task.DueDate" class="form-control" />
                    <span asp-validation-for="task.DueDate" class="text-danger"></span>
                </div>
            </div>
        </section>*@

        @*<div class="form-group">
            <label asp-for="Task.Blocking1Id" class="control-label"></label>
            <select asp-for="Task.Blocking1Id" class="form-control" asp-items="ViewBag.Blocking1Id"></select>
        </div>
        <div class="form-group">
            <label asp-for="Task.Blocking2Id" class="control-label"></label>
            <select asp-for="Task.Blocking2Id" class="form-control" asp-items="ViewBag.Blocking2Id"></select>
        </div>
        <div class="form-group">
            <label asp-for="Task.Type" class="control-label"></label>
            <input asp-for="Task.Type" class="form-control" />
            <span asp-validation-for="Task.Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.TaskStatus" class="control-label"></label>
            <input asp-for="Task.TaskStatus" class="form-control" />
            <span asp-validation-for="Task.TaskStatus" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.PersonId" class="control-label"></label>
            <select asp-for="Task.PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
        </div>
        <div class="form-group">
            <label asp-for="Task.PositionTitle1" class="control-label"></label>
            <input asp-for="Task.PositionTitle1" class="form-control" />
            <span asp-validation-for="Task.PositionTitle1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.PositionTile2" class="control-label"></label>
            <input asp-for="Task.PositionTile2" class="form-control" />
            <span asp-validation-for="Task.PositionTile2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.PositionTitle3" class="control-label"></label>
            <input asp-for="Task.PositionTitle3" class="form-control" />
            <span asp-validation-for="Task.PositionTitle3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.DueDate" class="control-label"></label>
            <input asp-for="Task.DueDate" class="form-control" />
            <span asp-validation-for="Task.DueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.CreationDate" class="control-label"></label>
            <input asp-for="Task.CreationDate" class="form-control" />
            <span asp-validation-for="Task.CreationDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.StartDate" class="control-label"></label>
            <input asp-for="Task.StartDate" class="form-control" />
            <span asp-validation-for="Task.StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.CompletionDate" class="control-label"></label>
            <input asp-for="Task.CompletionDate" class="form-control" />
            <span asp-validation-for="Task.CompletionDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.ChurchId" class="control-label"></label>
            <select asp-for="Task.ChurchId" class="form-control" asp-items="ViewBag.ChurchId"></select>
        </div>
        <div class="form-group">
            <label asp-for="Task.PlanLink" class="control-label"></label>
            <input asp-for="Task.PlanLink" class="form-control" />
            <span asp-validation-for="Task.PlanLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.RequiredSkills" class="control-label"></label>
            <input asp-for="Task.RequiredSkills" class="form-control" />
            <span asp-validation-for="Task.RequiredSkills" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>*@
        <div>
            <a asp-page="Index">Back to List</a>
        </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
