@page
@model CStat.Pages.Tasks.IndexModel
@using CTask = CStat.Models.Task;
@{
    ViewData["Title"] = "Tasks";
}

<head>

<style>

    tr:nth-child(even) {
        background-color: #fff185
    }

</style>

</head>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="background-color: lightgray">
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Description)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Task[0].Status)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Task) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{
                    item.GetTaskStatus (out CTask.eTaskStatus state, out CTask.eTaskStatus reason, out int pctComp);
                    var stateStr = ((CTask.eTaskStatus)state).ToString().Replace("_", " ") + " (" + pctComp + "%)";
                }
                @stateStr
            </td>
            <td>
                @{
                    var priorityStr = ((CTask.ePriority)item.Priority).ToString().Replace("_", " ");
                }
                @priorityStr
            </td>
            <td>
                @{
                    var nameStr = (item.Person != null) ? item.Person.FirstName + " " + item.Person.LastName : "<unassigned>";
                }
                @nameStr
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-page="./Create" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
