@page
@model CStat.DetailsItemsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Upc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Upc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Units)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Units)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Mfg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Mfg.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
