@page
@model CStat.IndexInvModel

@{
    ViewData["Title"] = "Index";
}

<head>
    @using System.Web;
    @using CStat.Models;

    <style>
        a {
            cursor: pointer;
        }

        .table th {
            padding: 0.1rem;
            color: lightgray;
        }

        .table td {
            padding: 0.5rem;
        }

        .stateBtn {
            background-color: #E0FFE0; /* Green */
            border-radius: 8px;
            border: solid;
            border-color: black;
            border-width: 1px;
            color: black;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }

    </style>

    <script type="text/javascript">

        function itemStateChange(invItmId, pid, state) {
            var parameters = "{'invItmId':'" + invItmId + "','pid':'" + pid + "','state':'" + state + "'}";
            $.ajax({
                url: "/IndexInv?handler=ItemStateChange",
                contentType: "application/json",
                dataType: "json",
                data : parameters,
                success: function (response) {
                    if (response.indexOf("ERROR~:") === -1) {
                        window.location.href = response;
                    }
                },
            });
        }

        function docsBeforeUnload() {
        }

        function encodeQuotes(str) {
            return str.replace(/\"/g, "^^").replace(/\'/g, "^");
        }

    </script>

</head>

<body onbeforeunload="docsBeforeUnload()">

@{ 
    var pid = -1;
    var displayName = "";
    Task<Person> ptask = Model.GetPersonFromEMail(User.Identity.Name);
    ptask.Wait();
    Person p = ptask.Result;
    if (p != null)
    {
        pid = p.Id;
        displayName = p.FirstName.Substring(0, 5) + p.LastName.Substring(0, 1);
    }
}    

    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Current</th>
                <th>Units</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InventoryItem)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentStock)
                    </td>
                    <td>
                        @{
                            CreateItemsModel.ItemUnits units = (CreateItemsModel.ItemUnits)item.Units;
                            var unitsStr = units.ToString();
                        }
                        @unitsStr
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        <button class="stateBtn">Need?</button>
                        @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
