@page
@model DocsModel
@{
    ViewData["Title"] = "Docs";
}

<head>
    @using System.Web;

    <style>
        a { cursor: pointer; }
    </style>

    <script type="text/javascript">

        function switchToEdit(idx) {
            let scanEl = document.querySelector("#" + "sid" + idx);
            scanEl.style.display = "none";
            let inputEl = document.querySelector("#" + "iid" + idx);
            inputEl.type = "text";
            let desc = scanEl.innerHTML;
            inputEl.value = (desc.indexOf("[Add]") != -1) ? "" : desc;
            inputEl.focus();
        }

        function openFileShare(folder, file) {
            var parameters = "{'Folder':'" + folder + "','File':'" + file + "'}";
            $.ajax({
                url: "/Docs?handler=FileShare",
                contentType: "application/json",
                dataType: "json",
                data : parameters,
                success: function (response) {
                    if (response.indexOf("ERROR~:") === -1) {
                        window.location.href = response;
                    }
                },
            });
        }

        function updateFileDesc(idx, folder, file, desc) {
            let scanEl = document.querySelector("#" + "sid" + idx);
            let inputEl = document.querySelector("#" + "iid" + idx);
            var parameters = "{'Folder':'" + folder + "','File':'" + file + "','Desc':'" + desc + "'}";

            $.ajax({
                url: "/Docs?handler=FileDesc",
                contentType: "application/json",
                dataType: "json",
                data : parameters,
                success: function (response) {
                    if (response.indexOf("ERROR~:") === -1) {
                        scanEl.innerHTML = desc;
                    }
                    else {
                        scanEl.innerHTML = "";
                    }
                    inputEl.type = "hidden";
                    scanEl.style.display = "inline-block";
                },
                fail: function (response) {
                    inputEl.type = "hidden";
                    scanEl.innerHTML = "";
                    scanEl.style.display = "inline-block"
                }
            });

        }

    </script>

</head>

@{
    var DocTitle = Model.FolderName.Replace('/', '>');
    if ((DocTitle.Length > 1) && DocTitle.StartsWith(">")) DocTitle = DocTitle.Substring(1);
}
<h2>@DocTitle</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                "Name"
            </th>
            <th>
                "Date/Time"
            </th>
            <th>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="DescStr" class="control-label"></label>
                        <input asp-for="DescStr" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dbox.FolderList.Entries.Where(i => i.IsFolder))
        {
            <tr>
                <td>

                    <b><a href="Docs?id=@Uri.EscapeDataString(Model.FolderName + "/" + item.Name)">@Html.DisplayFor(modelItem => item.Name)</a></b>
                </td>
                <td></td>
                <td></td>
            </tr>
        }
        @{int idx = 0;}
        @foreach (var item in Model.dbox.FolderList.Entries.Where(i => i.IsFile))
        {
            <tr>
                <td>
                    <a onclick="openFileShare('@Model.FolderName','@item.Name')">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>@item.AsFile.ClientModified</td>
                <td>
                    @{
                        var sid = "sid" + idx;
                        var fid = "fid" + idx;
                        var iid = "iid" + idx;
                        var nid = "nid" + idx;
                    }
                    <span id="@sid" style="display:inline-block;" onclick="switchToEdit(@idx)">[Add]</span>
                    <form id="@fid" ><input type="hidden" onfocusout="updateFileDesc(@idx, '@Model.FolderName','@item.Name', this.value)" id="@iid" name="did" value=""></form>
                </td>
            </tr>
            ++idx;
        }
    </tbody>
</table>

