@page
@model DocsModel
@{
    ViewData["Title"] = "Docs";
}

<head>
    @using System.Web;
</head>

@{
    var DocTitle = Model.FolderName.Replace('/', '>');
    if ((DocTitle.Length > 1) && DocTitle.StartsWith(">")) DocTitle = DocTitle.Substring(1);
}
<h2>@DocTitle</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                "Name"
            </th>
            <th>
                "Date/Time"
            </th>
            <th>
                "Description"
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dbox.FolderList.Entries.Where(i => i.IsFolder))
        {
        <tr>
            <td>

                <b><a href="Docs?id=@Uri.EscapeDataString(Model.FolderName + "/" + item.Name)">@Html.DisplayFor(modelItem => item.Name)</a></b>
            </td>
            <td></td>
            <td></td>
        </tr>
        }
        @foreach (var item in Model.dbox.FolderList.Entries.Where(i => i.IsFile))
        {
        <tr>
            <td>
                <a href="@Model.GetSharedFileUrl(item.Name)">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>@item.AsFile.ClientModified</td>
            <td><i>(Add Description)</i></td>
        </tr>
        }
    </tbody>
</table>

