@page
@model CStat.Pages.EquipRptModel
@using Common

    @{
        ViewData["Title"] = "Equip";
    }

    <head>
        @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
        <meta name="viewport" content="width=device-width, minimal-ui">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>
        <script type="text/javascript" src="jquery.svg.js"></script>

        <style>

            .NormRow{
                background-color: #FFFFFF;
            }

            .SelRow {
                 background-color: #C0C0C0;
            }

            .ResultsClass {
                background-color: yellow;
                margin: auto;
                margin-bottom: 10px;
                border: groove;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

        </style>

        <script>
            var pricePerGal = @Model.PricePerGal;
            var tankSize = @Model.TankSize;

            function updateRows(id) {

                $("#" + id).toggleClass("NormRow SelRow");

                var SelRows = [];
                $("table > tbody > tr").each(function () {
                    if ($(this).attr('class') === "SelRow") {
                        SelRows.push($(this));
                    }
                });

                if (SelRows.length > 2) {
                    $(SelRows).each(function () {
                        if ($(this).attr('id') !== id) {
                            $(this).toggleClass("NormRow SelRow");
                        }
                    });
                } else if (SelRows.length == 2) {
                    var dts0 = $(SelRows[0]).find('td:eq(0)').text();
                    var dts1 = $(SelRows[1]).find('td:eq(0)').text();

                    var dt0 = parseDateTime(dts0);
                    var dt1 = parseDateTime(dts1);
                    var fullP0 = parseFloat($(SelRows[0]).attr('fullGal'));
                    var fullP1 = parseFloat($(SelRows[1]).attr('fullGal'));

                    if (dt0 > dt1) {
                        var gals = (fullP1 >= fullP0) ? fullP1 - fullP0 : 0;
                        $("#ResultsDiv").html("&nbsp;" + dts1 + " -> " + dts0 + "&nbsp;<br>&nbsp;" + gals.toFixed(1) + " gals @@ $" + pricePerGal + "= Cost $" + (pricePerGal * gals).toFixed(2) + "&nbsp;");
                    } else {
                        var gals = (fullP0 >= fullP1) ? fullP0 - fullP1 : 0;
                        $("#ResultsDiv").html("&nbsp;" + dts0 + " -> " + dts1 + "&nbsp;<br>&nbsp;" + gals.toFixed(1) + " gals @@ $" + pricePerGal + "= Cost $" + (pricePerGal * gals).toFixed(2) + "&nbsp;");
                    }
                    document.body.scrollTop = document.documentElement.scrollTop = 0;

                    //var parameters = "{':'" + invItemId + "','pid':'" + pid + "','state':'" + state + "'}";
                    //$.ajax({
                    //    url: "/EquipRpt?handler=GetPropaneCost",
                    //    contentType: "application/json",
                    //    dataType: "json",
                    //    data: parameters,
                    //    success: function (response) {
                    //        if (response.indexOf("ERROR~:") === -1) {
                    //            var curCost = $.parseJSON(response);
                    //        } else {
                                
                    //        }
                    //    },
                    //    fail: function (response) {
                            
                    //    }
                    //});
                }

                //new Date(year, month, day, hours, minutes, seconds, milliseconds)
                function parseDateTime(raw) {

                    var str = raw.trim();

                    var mflds = str.split(" ");
                    if (mflds.length !== 3)
                        return null;

                    var dflds = mflds[1].split("/");
                    if (dflds.length !== 3)
                        return null;

                    // Get Date
                    var M = parseInt(dflds[0])-1;
                    var d = parseInt(dflds[1]);
                    var y = parseInt(dflds[2]);
                    if (y < 2000)
                        y += 2000;

                    var tflds = mflds[2].split(":");
                    if (tflds.length !== 2)
                        return null;

                    var h = parseInt(tflds[0]) % 12;
                    var m = parseInt(tflds[1].substr(0, 2));
                    if (tflds[1].substr(2, 1) == "P") {
                        h += 12;
                    } 
                    return new Date(y, M, d, h, m);
                 }
            }

        $(document).ready(function () {
            //const elem = document.documentElement;
            //if (elem.requestFullscreen) { elem.requestFullscreen() }
        });

        </script>

    </head>
    <body>

        <div class="row">
            @{var props = Model.PEquip[0].GetProps();}

            <div class="col-md-12">
                <div style="display:inline-block; margin-right: 20px; margin-bottom: 6px;">Tank Size : @Model.TankSize gallons</div>
                <div style="display:inline-block; margin-right: 10px; margin-bottom: 6px;">Price/Gallon $@Model.PricePerGal</div>
            </div>
            <div id="ResultsDiv" class="ResultsClass"></div>
        </div>

        <table class="table">
            <thead>
                <tr style="background-color: lightgray;">
                    <th>
                        Date
                    </th>
                    <th>
                        Temp F
                    </th>
                    <th>
                        Gallons
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i =0;
                }
                @foreach (var pl in Model.PList)
                {
                    var idVal = "pl" + i.ToString();
                    var fullGal = (pl.LevelPct*Model.TankSize/100);

                    <tr id="@idVal" fullGal="@fullGal" class="NormRow">
                    <td>
                        <a href="javascript:updateRows('@idVal')">@pl.ReadingTimeStr(true)</a>
                    </td>
                    <td>
                        @pl.OutsideTempF.ToString("0.")<sup>o</sup>F
                    </td>
                    <td>
                        @(fullGal.ToString("0.#"))
                    </td>
                    </tr>
                    ++i;
                }
            </tbody>
        </table>
    </body>