@page
@model CStat.Pages.RConnsModel
@{
    ViewData["Title"] = "People @ CCA";
    Layout = "_Layout";
}

<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, minimal-ui">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>
    <script type="text/javascript" src="jquery.svg.js"></script>

    <style>
        .RConn {
            background-color: lightgoldenrodyellow;
            border-top: 3px solid darkred;
        }
    </style>

    <script>
    </script>

</head>
<body>
    <table class="table">
        <thead style="background-color:#008080;color:white">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Device
                </th>
                <th>
                    Location
                </th>
                <th>
                    Arrived
                </th>
                <th>
                    R/W
                    Rate
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crep in Model.ClientReps.OrderByDescending(b => b.rssi))
            {
                <tr class="RConn">
                    <td>
                        @crep.GetName()
                    </td>
                    <td>
                        @Html.Raw(((crep.deviceType == 30) ? "PC/Lap" :"Cell/Tab") + " " + crep.mac)
                    </td>
                    <td>
                        @Html.Raw(((crep.rssi >= -70) ? "Kitchen" : ((crep.rssi) >= -80) ? "Not Far" : "Far") + " (" + crep.rssi + ")")
                    </td>
                    <td>
                        @{
                            DateTime estStartDT;
                            if (System.Math.Abs((DateTime.Now - DateTime.UtcNow).TotalSeconds) < 2)
                            {
                                crep.startDT = DateTime.SpecifyKind(crep.startDT, DateTimeKind.Utc);
                                TimeZoneInfo easternZone = TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");
                                estStartDT = TimeZoneInfo.ConvertTimeFromUtc(crep.startDT, easternZone);
                            }
                            else
                                estStartDT = crep.startDT;
                            string estDTStr = estStartDT.ToShortDateString() + " " + estStartDT.ToShortTimeString();
                         }
                         @Html.Raw(estDTStr)
                           
                    </td>
                    <td>
                        @Html.Raw((Math.Abs(crep.dRx) + Math.Abs(crep.dTx)).ToString())
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <div style="text-align:center"><b>@Model.Summary()</b></div>
</body>