@page
@model CStat.Pages.Churches.IndexModel

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/bgaze/bootstrap4-dialogs@1/dist/bootstrap4-dialogs.min.js"></script>

    <style>

        #AllBtn {
            margin-left: 10px;
            background-color: lawngreen;
        }

        #MembBtn {
            margin-left: 10px;
            background-color: lightgray;
        }
    </style>


    <script>

        function onFilter(filter) {
            window.location.href = window.location.origin + "/Churches/Index?filter=" + filter;
        }

        $(document).ready(function () {

            if (localStorage.getItem("refreshChurches") == "true") {
                localStorage.removeItem("refreshChurches");
                location.reload();
            }

        });

    </script>
</head>

<p>
    <a asp-page="Create">Create New</a>
    <button id="AllBtn" style="background-color: @Model.GetBkColor(1);" onclick="onFilter(1)">All</button>
    <button id="MembBtn" style="background-color: @Model.GetBkColor(2);" onclick="onFilter(2)">Memb.</button>
    <button id="MembBtn" style="background-color: @Model.GetBkColor(3);" onclick="onFilter(3)">ICCoC</button>
    <button id="MembBtn" style="background-color: @Model.GetBkColor(4);" onclick="onFilter(4)">Metro</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Affiliation
            </th>
            <th>
                Status
            </th>
            <th>
                Phone#
            </th>
            <th>
                POC Minister
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Church.OrderBy(c => c.Name))
        {
            <tr>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @IndexModel.GetAffiliation(item)
                </td>
                <td>
                    @IndexModel.GetMembershipStatus(item)
                </td>
                <td>
                    @IndexModel.GetPhone(item)
                </td>
                <td>
                    @IndexModel.GetPOCMinister(item)
                </td>
            </tr>
        }
    </tbody>
</table>
