@page
@model CStat.Pages.Churches.IndexModel

<script>

$(document).ready(function () {

    if (localStorage.getItem("refreshChurches") == "true") {
        localStorage.removeItem("refreshChurches");
        location.reload();
    }

});

</script>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Affiliation
            </th>
            <th>
                Status
            </th>
            <th>
                Phone#
            </th>
            <th>
                POC Minister
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Church) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @IndexModel.GetAffiliation(item)
            </td>
            <td>
                @IndexModel.GetMembershipStatus(item)
            </td>
            <td>
                @IndexModel.GetPhone(item)
            </td>
            <td>
                @IndexModel.GetPOCMinister(item)
            </td>
        </tr>
}
    </tbody>
</table>
