@page
@model CStat.Pages.Churches.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Affiliation
            </th>
            <th>
                Status
            </th>
            <th>
                Phone#
            </th>
            <th>
                POC Minister
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Church) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @IndexModel.GetAffiliation(item)
            </td>
            <td>
                @IndexModel.GetMembershipStatus(item)
            </td>
            <td>
                @IndexModel.GetPhone(item)
            </td>
            <td>
                @IndexModel.GetPOCMinister(item)
            </td>
        </tr>
}
    </tbody>
</table>
